@media /** media queries a cel mediano**/
    (min-device-width: 320px) 
and (max-device-width: 426px){
.cont-ini{
    flex-direction:column;
}
.contactos{
    flex-direction:column;

}
h1{
    font-size: 20px;}
    
    h2{
        font-size: 15px;
    }
    h3{
        font-size: 14px;
    }
    
    .h1-p p{
        font-size:14px;
            text-align: center;
            padding-left:30px;
            padding-right: 20px;
            text-align: justify;   
    }

    p{
        font-size:14px;
    }
   
    /* .img{
        border-radius: 100%;
        width:40%;
        height:90%; 
        margin-top:2vw;
        margin-left:20vh;
    } */
    img{
        border-radius: 100%;
        width: 140PX;
        height: 90%;  
      margin-top:1vw;
      margin-left:20vh;
 
     }

    .foto{
        background-color:rgb(92, 202, 221) ;
    width: 97%;
    height: 200px;
    justify-content: space-evenly;

    }
    .h1-p{
        background-color:rgb(57, 134, 158);
        width:97%;
        height: 200px;
        color: white;
        margin-left: 5px;
    }
   
    .izquierda{
       
        width: 97%;
        height: 100%;
        padding-left: 100px;
        
        line-height:26.5px;
    }
    .derecha{
        background-color:white;
        width: 97%;
        height: 750px;
        margin-left: 5px;
        padding-left: 30px;
        padding-right: 30px;
        
    }
}